@model E_Sport_1A2.Models.Team

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playersCount" class="control-label"></label>
                <input asp-for="playersCount" class="form-control" />
                <span asp-validation-for="playersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playedGames" class="control-label"></label>
                <input asp-for="playedGames" class="form-control" />
                <span asp-validation-for="playedGames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="won" class="control-label"></label>
                <input asp-for="won" class="form-control" />
                <span asp-validation-for="won" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currentRank" class="control-label"></label>
                <input asp-for="currentRank" class="form-control" />
                <span asp-validation-for="currentRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
